@font-face {
   font-family: 'neutra-book';
   src: url(../fonts/Neutra_Text_Book.otf);
}

*, h4, input {
  font-family: 'neutra-book', helvetica;
  color: black !important;
}

.background-black {
  background-color: black;
}

.font-min-size {
  font-size: 13px;
}

.text-white, .text-white * {
  color: #fff !important;
}

.text-gray, .text-gray * {
  color: gray !important;
}

/*Header*/
.mobile-nav-bar *, header {
  background-color: #fff;
}

.top-bar-center {
  display: inline-block;
}
/*icon candado*/
.button-badge {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -2px;
  right: -9px;
  font-size: .45em;
}
