@font-face {
   font-family: 'neutra-book';
   src: url(../fonts/Neutra_Text_Book.otf);
}

* {
  font-family: 'neutra-book', helvetica;
  color: black !important;
}

.font-min-size {
  font-size: 13px;
}

/*Header*/
.mobile-nav-bar * {
  background-color: #fff;
}

.mobile-nav-bar a {
  color: #fefefe;
}

.top-bar-center {
  display: inline-block;
}
/*icon candado*/
.button-badge {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -2px;
  right: -9px;
  font-size: .45em;
}

header .fa {
  color: gray !important;
}
